* {outline: 0px solid red;}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0px;
  padding: 0px;
  background-color:#e8e8e8;
}

#contentContainer {
  margin-left:4em;
  margin-top:4em;
  padding:50px;
  max-width:50vw;
  border-radius:10px

}

#listContainer{
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:rgb(24, 24, 24);
  margin-top:0px
  
}

.taskList {
transition: all 250ms;
  
}

.taskView {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.307));
  background: linear-gradient(white, rgb(250, 250, 250));
  border-radius: 3px;
  display: flex;
  border: 1px solid rgb(0,0,0,.0);
  justify-content: center;
  align-items: center;
  transition:  all 0.25s;
  opacity: 0%;
  overflow:hidden;
  margin-bottom:5px;
}
.taskView:hover{
  border: 1px solid #fca311
}
.taskView.open{
  opacity:100%}

.taskTitle {
  float: left;
  border: 0px solid aquamarine;
  color:rgb(25,25,25);
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.151);
}

.taskDate {
  border: 0px solid blueviolet;
  margin-left: auto;
  margin-right: 10px;
}

button {
  border: 0 solid lightgray;
  border-right: 1px solid lightgray;
  background-color:#ffffff;
  margin-right:1em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 2px;
  transition: all .2s;
  cursor: pointer;
  color: rgb(35, 35, 35);
}
button:hover{
  background-color: #fca311;
  color:white;

}

button.createTask{
  margin:0;
}

#inputField {
  display: flex;
  min-height: 3em;
  border: 0px solid gray;
  border-radius: 5px;
  margin-bottom:1em;
}



.taskDescription {
  height: auto;
  width: 100%;
  padding-left:1em;
}

.createTask {
  margin-right: 0px;
  margin-left: auto;
}