* {outline: 0px solid red;}

body, html {
  margin: 0;
  padding: 0;
}

#contentContainer {
  margin-left:4em;
  width: 100%;
}

.h1 {
  padding: 0px; 
  margin: 0px;
}

#taskView {
  background: green;
  max-width: 1280px;
}

.taskItem {
  display: flex;
  border: 1px solid hotpink;
  min-height: 3em;
  justify-content: center;
  align-items: center;
}

.taskTitle {
  float: left;
  border: 1px solid aquamarine;
  padding: 5px;
}

.taskDate {
  border: 1px solid blueviolet;
  margin-left: auto;
  margin-right: 10px;
  padding: 5px;
}

.taskCheckbox {
  margin: 10px;
}

#inputField {
  display: flex;
  min-height: 3em;
  background-color: black;
  border: 1px solid gray;
  border-radius: 5px;
}

.taskDescription {
  height: auto;
  width: 100%;
  padding-left:1em;
}

.createTask {
  margin-right: 0px;
  margin-left: auto;
}